[submodule "assets/css/scss-helpers"]
	path = assets/css/scss-helpers
	url = git@github.com:bhalash/scss-helpers.git
[submodule "assets/css/normalize.css"]
	path = assets/css/normalize.css
	url = git@github.com:necolas/normalize.css.git
[submodule "scss-helpers"]
	path = scss-helpers
	url = git@github.com:bhalash/scss-helpers.git
[submodule "normalize.css"]
	path = normalize.css
	url = git@github.com:necolas/normalize.css.git
