/* Custom Css */
@import 'includes/scss-helpers/decimal';

.hideLogo {
	background-image: none !important;
}

@media only screen and (min-width: 640px) {
	#menutoggle__nav {
		display: none;
	}
}

@media only screen and (max-width: 800px) {

	.navmenu__menu .menu-item>a {
		padding-left: 9px !important;
		padding-right: 9px !important;
	}

}


@media only screen and (max-width: 640px) {
	#header__menu {
		overflow: hidden;

		li .sub-menu {
			position: static;
		}
	}

	.navmenu__menu .section--menu-item>a {
		color: #000000 !important;
		padding-top: 5px;
		padding-bottom: 5px;
	}

	.navmenu__menu a {
		text-align: center;
		@include font-size(1.15);
	}

}
