/**
 * Variables
 *-----------------------------------------------------------------------------
 */

$gutter: 16px;
$half-gutter: $gutter / 2;

/**
 * Fonts
 *-----------------------------------------------------------------------------
 */

h6 {
	font-family: Helvetica, Arial, Sans-serif;
}

/**
 * Layout
 *-----------------------------------------------------------------------------
 */

// Move the main content down if the admin bar is present
@import 'includes/scss-helpers/decimal';

.admin-bar {
	#header {
		margin-top: 30px;
	}

	#bigsearch {
		margin-top: 30px;
	}
}

.main>div:nth-child(1) {
	flex: unset;
}
.main>div:nth-child(2) {
	flex: unset;
}
#main {
	flex: unset;
	display: block;
}

#main .main__content{
/*	display: inline-block;
	flex: none;
	width: 70%;
	padding-right: 16px;*/

	width: 70%;
 	display: inline-block;
    margin-right: -2px;
    padding-right: 0;
    vertical-align: top;
    box-sizing: border-box;

}

#main .main__sidebar {
/*	display: inline-block;
	flex: none;
	width: 27%;
	/*width:30%;
	margin: 0 -2px;
	float: right;
*/
	width: 30%;
 	display: inline-block;
    margin: 0 -2px;
    padding-left: 16px;
    vertical-align: top;
    box-sizing: border-box;
}

/**
 * Single post with featured image
 *-----------------------------------------------------------------------------
 */


body.post-featured-image {
    padding-top: 80px;

    @media screen and (max-width: 640px) {
	    padding-top: 50px;
	}
}

.single .trim-block {
	transition: all 0.4s ease;
	@media screen and (max-width: 360px) {
		min-height: 10px;
	}
}

.single .post-featured-image .post-thumbnail {
	box-shadow: 0 2px 3px -1px rgba(0, 0, 0, 0.5);
}

.single #main {
	flex-direction: column;
}

.single #main .flex-row {
	display: flex;
	flex-direction: row;
	margin-top: 20px;
}


.single #main .flex-row .title.article--full__title {
	margin-top: 0;	
}

.single .article--lead__thumb {
	min-width: 100%;
}

/**
 * Main navigation - vertically stacked sub-menus
 *-----------------------------------------------------------------------------
 */

#header li {
	position: relative;

	.sub-menu{
		width: auto;
		
		li {
	    	display: block;
	    	width: auto;
	    	white-space: nowrap;
	    	text-align: left;
		}
	} 
}

.navmenu__menu {

	.menu-item > a {
	    padding: 0 16px;
	    padding: 0 1rem;

		@media only screen and (min-width: 640px) {
		    line-height: 35px;
		    line-height: 2.1875rem;
		}
	}

	.sub-menu a {
	    font-size: 16px;
	    font-size: 0.9rem;
	}
}



/**
 * Home Page Widgets
 *-----------------------------------------------------------------------------
 */

.featured-top-row-1,
.featured-top-row-2 {
	width: 100%;
	position: relative;
	margin-bottom: $gutter;
}

.featured-top-70 {
 	width: 70%;
 	display: inline-block;
    margin: 0 -2px;
    vertical-align: top;
    box-sizing: border-box;
}

.featured-top-row-1 .featured-top-70 .thumbnail {
	height: 380px;
}

.article--lead__excerpt {
	font-size: 0.9rem;
	font-family: Helvetica, Arial, sans-serif;
}

.featured-top-30 {
/* 	width: 30%;
 	display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
 	height: 100%;
 	bottom: 0;
 	margin-left: $gutter + 2;
 	padding-right: $gutter;*/
    width: 30%;
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    height: 100%;
    bottom: 0;
    margin: 0 -2px;
    padding-left: $gutter;
 }

.featured-top-30 .featured-side-100 {
	height: 295px;
	margin-bottom: 10px;
}

.featured-top-30-middle {
	width: 100%;
	margin-bottom: $gutter;
/*	position: absolute;*/
/*	right: $gutter;
	left: 0;
	bottom: 0;*/
}

.featured-top-30-middle .featured-side-50 .thumbnail {
	height: 75px;
}


.featured-top-30-middle .featured-side-50.gutter-half-right {
	margin-left: 0;
}

.featured-top-30-middle .featured-side-50.gutter-half-left {
	margin-right: 0;
}


.featured-top-row-2 {

	height: 300px;
	margin-bottom: $gutter;

	.featured-top-70 .featured-50 .thumbnail {
		height: 200px;
	}

}

.featured-top-row-2 .featured-top-advert {
	width: 300px;
	height: 300px;
	display: block;
	background: red;
}

.featured-top-row-2-30 {
	width: 30%;
 	display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
 /*	position: absolute;*/ /* comment out if float */
 	top:0;
 	margin-left: $gutter + 2; /* comment out if float */
 	padding-right: $gutter;
 	/*float: right;*/ /* comment IN if float */
}

.featured-top-33-container {
/*	width: 30%;
	margin-right: 0;
	margin-left: auto;*/

}

.featured-top-33-inner-container {
/*	width: 100%;
	margin-right: 0;
	margin-left: $gutter - 2;
	padding-right: $gutter;*/
}


.featured-top-33-inner-container .thumbnail {
    display: inline-block;
    /*width: 33%;*/
    width: 80px;
    height: 80px; /* Set dimensions intended to make a square */
    float: left;
/*    padding-right: $half-gutter;
    padding-bottom: $half-gutter;*/
}

.featured-top-33-inner-container .thumbnail img {
	height: 100%;
    min-height: 100%;
    min-width: 100%;
    width: unset;
    max-width: unset;
}

.featured-top-33-inner-container .title-container {
	margin-left: 80px;
}

.featured-top-33-inner-container .title {
	display: inline;
	/*padding: 8px;*/
}

/*.featured-top-33-inner-container .archive-trim-bottom {
	margin-right: $gutter;
}*/

.featured-main-area {
	display: inline-block;
	flex: none;
	width: 70%;
	padding-right: $gutter;
}

.featured-sidebar-area {
	display: inline-block;
	flex: none;
	width: 27%;
	float: right;
}

.featured-50 {
    width: 50%;
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    margin: 0 -2px;
    padding: 0 $half-gutter 0 0;
}

.featured-25 {
    max-width: 25%;
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    margin: 0 -2px;
    padding: 0 0 $half-gutter $half-gutter;
}

.featured-side-50 {
    width: 50%;
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    margin: 0 -2px;
}


@media (max-width: 560px) {
// make responsive!
}

/**
 * Footer
 *-----------------------------------------------------------------------------
 * Footer site navigation menu and submenu styles
 */

.footer__columns {

    .footer__site-links-1 {
        width: 33%;
        float: left;
    }

    .footer__site-links-2 {
        width: 65%;   
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;

        .menu li {
            margin-bottom: 1rem;
        
        	a {
	            font-weight: bold;
	            @include font-size(1.6);
        	}

			ul li {
	            margin-bottom: 0;
			
				a{
		            font-weight: normal;
		        }	        
	        }
        }
    }
}

/**
 *  Columnist Page
 * -----------------------------------------------------------------------------
 * 
 */
$columnist-padding: 0px;

.page-template-columnist-page #main .main__content {
	padding-right: 0;
	width: 100%;
}

.columnist-container {
	/*display: flex;
	flex-direction: row;
	flex-wrap: wrap;*/
	display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: -16px;
}
/*
.columnist-row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: -16px;
}*/

.columnist {
/*	display: flex;
	flex-direction: column;*/
	display: inline-block;
	margin-bottom: 16px;
	margin-left: 16px;
	width: 140px;
    vertical-align: top;
    /*background-color: #F5F5F5;*/
    padding: $columnist-padding; /*maybe not, forces columnist-avatar to do negative margins of same amount */
}

.columnist .name {
	font-size: 13px;
	@include font-size(1.3);
	font-weight: 600;
	display: inline-block;
	line-height: 0.9rem;
	padding-top: 8px;
}

.columnist-avatar {
    height: 140px;
    width: 140px;
    display: block;
    background-size: cover;
    background-position: center;
    margin-left: -$columnist-padding;
    margin-top: -$columnist-padding;
}

.columnist .recent-post {
	font-size: 14px;
	@include font-size(1.3);
    font-style: italic;
}

/**
 *  Featured Category Widget
 * -----------------------------------------------------------------------------
 * 
 */

.widget--category {
	height: 300px;
}

.widget--category__left .article--category {
    height: 280px;
}

.widget--category__left .article--category__thumb.thumbnail {
    height: 190px;
    overflow: hidden;
}

.widget--category__left .article--category__thumb.thumbnail img{
    min-height: 190px;
    min-width: 100%;
    height: auto;
    width: unset;
}

.widget--category__left .article--category__title {
	min-height: 82px;
}

.widget--category__right .article--category__link {
	height: 80px;
	margin-bottom: 16px;
	background: #f3f3f3;
}

.widget--category__right .article--category__link > div.article--category__thumb {
    flex: none;
    height: 80px;
    width: 44%;
    display: inline-block;
    overflow: hidden;
}
.widget--category__right .article--category__link > div.article--category__thumb .post-thumbnail,
.featured-post-image-inner {
    min-width: 100%;
    min-height:100%;
    width: unset;
    height: auto;
}
/*.widget--category__right .article--category__link>div:nth-child(2),*/
.widget--category__right .article--category__link .article--category__text {
    flex: none;
    max-height:70px;
    overflow: hidden;
    width: 50%;
    display: inline-block;
    /*padding: 12px 0 0 12px;*/
    padding: 0;
    margin: 12px;
}

h5.article--category__title {
	font-family: Helvetica, Arial, Sans-serif;
	font-size: 13px;
}

.home hr {
	margin: 16px 0;
}

/**
 *  Widgets 
 * -----------------------------------------------------------------------------
 * 
 */


/* Sidebar */
.sidebar__widgets {

	.widget--category {

		.widget--category__split {
			display: block;
		}	
	}
}


/* Columnist home page widget */
.widget_kaitain_authors {
	background: #434044;
	color: #fff;
}


/**
 *  Partials 
 * -----------------------------------------------------------------------------
 * Transparent and opaque classes for hiding and displaying things nicely
 */

.transparent {
    opacity: 0;
}

.opaque {
    opacity: 1;
}

.flex-column {
	display:flex;
	flex-direction: column;
}

.flex-row {
	display:flex;
	flex-direction: row;
}

.gutter-full{
	padding: $gutter;
}

.gutter-half {
	padding: 8px;
}

.gutter-half-left {
	padding-left: 8px;
}

.gutter-half-right {
	padding-right: 8px;
}

.img-frame {
	overflow: hidden;
}

.img-frame img {
	height: auto;
    min-height: 100%;
    min-width: 100%;
    width: unset;
}

.section-trim {
	height: 3px;
	background-color: #AAB;
}

.title-container {
	display:block;
	padding: 8px;
}